.page__wrapper {
    display: flex;
    padding: 0 50px;
}

.image__wrapper {
    width: 50%;
    margin: 30px;
    margin-top: 60px;
}
.image__wrapper img {
    max-width: 100%;
    height: auto;
}

.caption__wrapper {
    width: 50%;
    margin: 30px;
    margin-top: 30px;
}
.item__name h1 {
    margin: 0px;
}

.item__price {
    font-size: 32px;
    margin-top: 10px;
}
.item__price--part {
    font-size: 18px;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 15px;
}
.icon__field--button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
}
.icon__field--button img {
    width: 70%;
    height: 70%;
}
.like__field--liked {
    font-size: 32px;
    color: red;
}
.like__field--notliked {
    font-size: 32px;
    color: gray;
}
.icon__field--count {
    font-size: 10px;
    text-align: center;
}

.purchase__link {
    background: #ff5555;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    cursor: pointer;
    text-align: center;
}

.category__details {
    display: flex;

}
.category__item {
    color: #000;
    background: #d9d9d9;
    border-radius: 20px;
    margin-right: 5px;
    padding: 5px 10px;
}

.condition__group, .category__group{
    display: flex;
}
.condition__title, .category__title{
    font-weight: bold;
    margin-right: 20px;
}

.comment__num {
    color: #5f5f5f;
}

.comment__user {
    display: flex;
    margin-bottom: 10px;
}
.comment__user--icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-right: 10px;
}
.comment__user--name {
    display: flex;
    align-items:center;
}
.comment__content {
    background: #d9d9d9;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.comment__title {
    font-size: 20px;
    font-weight: bold;
}
.comment__area {
    width: 100%;
}
.comment__button {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    color: #fff;
    background: #ff5555;
    border: none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}