.status__wrapper {
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}
.status__button {
    color: #5f5f5f;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.status__button.active {
    color: #ea3323;
}
.hr-line {
    height: 2px;
    background-color: #5f5f5f;
    border: none;
}
.items__wrapper {
    margin: 50px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.items__group {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.items__img {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
    display: block;
}
.sold-label {
    position: absolute;
    top: 10px;
    left: 10px;

    background-color: #d9d9d9;
    color: #000;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
}
.items__caption {
    text-decoration: none;
}